<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MENU_XMAS2012_SHEET_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{844,235}}</string>
                <key>sourceSize</key>
                <string>{846,237}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{144,92}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{144,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{144,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{136,98}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{136,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1216},{116,104}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{116,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1414},{114,112}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{116,112}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{134,72}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{134,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,966},{114,86}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,38},{114,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,848},{116,88}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,38},{116,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1322},{116,90}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{116,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{116,90}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{116,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1082},{116,96}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,40},{116,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{114,100}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{114,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bird9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{116,96}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{116,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>birdLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1528},{30,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,58}}</string>
                <key>sourceSize</key>
                <string>{30,58}</string>
            </dict>
            <key>birdPart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1528},{40,64}}</string>
                <key>offset</key>
                <string>{24,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>birdPart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1528},{28,42}}</string>
                <key>offset</key>
                <string>{31,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,48},{28,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>birdPart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1190},{24,18}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,82},{24,18}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>birdPart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1584},{20,18}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,93},{20,18}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>birdPart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1558},{36,24}}</string>
                <key>offset</key>
                <string>{-50,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,74},{36,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>birdPart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1588},{16,26}}</string>
                <key>offset</key>
                <string>{-33,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,40},{16,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{239,1606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbdcba1957017fca4b3d0cdede964d76:e3b15de6e6a59de779efc367c77c307b:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
